* { box-sizing: border-box; }

a {text-decoration: none;}

body {
	background-color: #000000;
	color: #ffffff;
	margin: 0px;
	padding: 0px;

	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}

#container {
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}

nav {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
	
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
}

.mmlink {
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	padding-right: 30px;
	padding-left: 30px;
}

#header-container {
	background-color: #ffffff;
	background: url("../_images/banner-classroom.png");

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 500px;
}

#header-h1 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;

	margin: 0px;
	padding-top: 50px;
}

#header-h2 {
	color: #ffffff;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;

	margin: 0px;
}

#whoandwhat {
	background-color: #ffffff;
	background: url("../_images/whoandwhat_texture.png");

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;

	padding: 80px;
}

#who-h1 {
	color: #000000;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;

	padding: 0px 0px 0px 0px;
	margin: 0px;
}

#who-h2 {
	color: #000000;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;

	padding: 0px 0px 10px 0px;
	margin: 0px;
}

#what-h1 {
	color: #000000;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;

	padding: 75px 0px 0px 0px;
	margin: 0px;
}

#what-h2 {
	color: #000000;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;

	padding: 0px 0px 10px 0px;
	margin: 0px;
}

hr {
	width: 280px;
}

.whoandwhat-view {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding: 25px 0px 0px 0px;

	margin-right: auto;
	margin-left: auto;
}

.view-link {
	background-color: #000000;
	color: #ffffff;
	padding: 10px 15px 10px 15px;

	margin-right: auto;
	margin-left: auto;
}

.view-link:hover {
	background-color: transparent;
	color: #000000;
	border: solid 1px #000000;
	padding: 10px 15px 10px 15px;

	margin-right: auto;
	margin-left: auto;
}

.moreact {
	font-size: 14px;
	margin: left;
}

.moreact a {
	color: #00aeef;
	text-decoration: none;
}

.moreact a:hover {
	color: #0086b9;
}

@media screen and (max-width:900px) {
	#container {
	}

	.mmlink {
		padding-right: 20px;
		padding-left: 20px;
	}

	#banner { border: 5px solid red; }
	
	header { font-size: 80px; }
	#bannerh1 { font-size: 17px; letter-spacing: 5px; }

	p  { font-size: 13px; }
}

@media screen and (max-width:640px) {
	#containter {
	}

	nav {
		width: 100%;
	}

	.mmlink {
		display: block;
		padding: 10px;
	}

	#header-container {
		width: 100%;
	}

	img {
		width: 100%;
		height: auto;
	}

	.article {
		width: 100%;
		height: 100%;
		margin:0px;
	}

	#topnews {
		width: 100%;
		margin:0px;
	}

	.sidebar {
		width: 100%;
		position: static;
	}

	p  { font-size: 10px; }
]
